footer {
	color: white;
	background-color: $footer-background;
	padding: 20px 20px 30px 20px;
	a,
	a:visited {
		color: white;
	}
	div {
		font-family: "Shrikhand";
		font-size: larger;
		margin-bottom: 18px;
		margin-left: 4px;
	}
	ul {
		display: grid;
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include tablet-only {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr;
		}
	}
	li {
		margin-bottom: 7px;
		margin-left: 5px;
	}
	i {
		font-size: 13px;
		width: 22px;
	}
}
