footer {
	color: white;
	background-color: $footer-background;
	padding: 20px 20px 30px;
	a,
	a:visited {
		color: white;
	}
	@include desktop-only {
		padding: 30px 50px;
	}
	.footer__title {
		font-family: "Shrikhand";
		font-size: larger;
		margin-bottom: 18px;
		margin-left: 4px;
		@include desktop-only {
			margin: 0 auto 18px;
			max-width: $page-max-width;
		}
	}
	.footer__links {
		display: grid;
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include tablet-only {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-temmeale-rows: 1fr;
		}
		@include desktop-only {
			margin: auto;
			max-width: $page-max-width;
		}
		li {
			margin-bottom: 7px;
			margin-left: 5px;
		}
		i {
			font-size: 13px;
			width: 22px;
		}
	}
}
