.section {
	padding: 39px 20px 50px;
}

.localisation {
	display: flex;
	justify-content: center;
	background-color: $dark-background;
	box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
	font-weight: 500;
	&__icone {
		margin: auto 0;
		width: 0;
		position: relative;
		right: 40px;
	}
}

.banniere {
	text-align: center;
	background-color: $light-background;
	&__texte {
		font-weight: 500;
		font-size: 1.3em;
	}
}

.fonctionnement {
	h1 {
		margin-bottom: 30px;
	}
}

.restaurants {
	background-color: $light-background;
	padding-top: 47px;
	padding-bottom: 44px;
	h1 {
		margin-bottom: 20px;
	}
}
