.section {
	padding: 39px 20px 50px;
}

.section > * {
	@include desktop-only {
		margin-right: auto;
		margin-left: auto;
		max-width: $page-max-width;
	}
}

.banniere {
	text-align: center;
	background-color: $light-background;
	&__texte {
		font-weight: 500;
		font-size: 1.3em;
	}
	@include desktop-only {
		box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
	}
}

.fonctionnement {
	h1 {
		margin-bottom: 30px;
	}
}

.restaurants {
	background-color: $light-background;
	padding-top: 47px;
	padding-bottom: 44px;
	h1 {
		margin-bottom: 20px;
	}
}
