.section {
	padding: 39px 20px 50px;
}

.localisation {
	display: flex;
	justify-content: center;
	background-color: $dark-background;
	height: 50px;
	margin: auto;
	box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
	font-weight: 400;
	&__icone {
		position: absolute;
		left: 6.5em;
	}
}

.banniere {
	text-align: center;
	background-color: $light-background;
	&__texte {
		font-weight: 600;
		font-size: 1.3em;
	}
}

.fonctionnement {
	h1 {
		margin-bottom: 30px;
	}
}

.restaurants {
	background-color: $light-background;
	padding-top: 47px;
	padding-bottom: 44px;
	h1 {
		margin-bottom: 20px;
	}
}

.menu {
	background-color: $light-background;
	margin-top: $menu-page-background-spacing;
	padding: 30px 15px 50px;
	border-top-left-radius: $big-radius;
	border-top-right-radius: $big-radius;
}
