/* ******************************************************** */
/* ********************** Polices  ************************ */
/* ******************************************************** */
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-regular.ttf") format("truetype");
}

body {
  font-family: "Roboto";
  font-weight: 300;
  margin: 0;
  color: #353535;
}

header {
  background-color: white;
}

h1 {
  margin: 0;
}

h2 {
  margin: 20px 0;
}

a,
a:visited {
  text-decoration: none;
  color: #353535;
  display: contents;
}

.carte {
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.carte-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  margin-bottom: 25px;
  margin-left: 12px;
  height: 72px;
  background-color: #f6f6f6;
}

.carte-fonctionnement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 10px;
  position: relative;
  left: -22px;
  top: 3px;
}

.carte-fonctionnement__numero {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  min-width: 24px;
  height: 24px;
  text-align: center;
  font-size: 0.9em;
}

.carte-fonctionnement__icone {
  font-size: 1.25em;
  width: 20px;
}

.carte-restaurant {
  position: relative;
  margin-bottom: 20px;
  height: 250px;
}

.carte-restaurant__photo {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
}

.carte-restaurant__nouveau {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 60px;
  height: 17px;
  background-color: #99e2d0;
  color: #278870;
  font-weight: 400;
  font-size: 0.9em;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.carte-restaurant__texte {
  padding: 12px;
}

.carte-restaurant__texte__nom {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.carte-restaurant__coeur {
  position: absolute;
  right: 25px;
  bottom: 30px;
  font-size: 1.3em;
}

.carte-restaurant__coeur i:hover {
  font-weight: 900;
  color: #9356dc;
}

.carte-plat {
  height: 69px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.carte-plat__texte {
  height: 45px;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.carte-plat__texte__titre {
  font-weight: 400;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-plat__texte__description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte-plat__prix {
  font-weight: 400;
  padding: 12px 20px 12px 0;
}

.carte-plat__selectBtn {
  content: "";
  background-color: #6ab9a5;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 0px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.carte-plat__selectBtn i {
  font-size: 1.2em;
  position: relative;
  right: -20px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  color: white;
}

.carte-plat:hover .carte-plat__selectBtn {
  width: 59px;
}

.carte-plat:hover .carte-plat__selectBtn i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.btn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 2em;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  font-weight: 400;
  height: 50px;
  margin: 13px;
  padding: 0 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  text-align: center;
}

header .header__logo img {
  width: 165px;
  padding: 21px 20px 10px;
}

header .header__arrow {
  position: absolute;
  left: 22px;
  top: 24px;
}

header .header__arrow i {
  font-size: 20px;
}

.section {
  padding: 39px 20px 50px;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  height: 50px;
  margin: auto;
  -webkit-box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.localisation__icone {
  position: absolute;
  left: 6.5em;
}

.banniere {
  text-align: center;
  background-color: #f6f6f6;
}

.banniere__texte {
  font-weight: 600;
  font-size: 1.3em;
}

.fonctionnement h1 {
  margin-bottom: 30px;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 47px;
  padding-bottom: 44px;
}

.restaurants h1 {
  margin-bottom: 20px;
}

.menu {
  background-color: #f6f6f6;
  margin-top: 220px;
  padding: 30px 15px 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

footer {
  color: white;
  background-color: #353535;
  padding: 20px 20px 30px 20px;
}

footer a,
footer a:visited {
  color: white;
}

footer div {
  font-family: "Shrikhand";
  font-size: larger;
  margin-bottom: 18px;
  margin-left: 4px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 7px;
  margin-left: 5px;
}

footer i {
  font-size: 13px;
  width: 22px;
}

.body-lapalettedugout {
  background-image: url("../../public/img/restaurants/jay-wennington.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 320px;
  background-attachment: fixed;
}

.body-alafrancaise {
  background-image: url("../../public/img/restaurants/toa-heftiba.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 320px;
  background-attachment: fixed;
}

.body-lanoteenchantee {
  background-image: url("../../public/img/restaurants/stil.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 320px;
  background-attachment: fixed;
}

.body-ledelicedessens {
  background-image: url("../../public/img/restaurants/louis-hansel.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 320px;
  background-attachment: fixed;
}

.menu__barre-separation {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-bottom: 13px;
}

.menu__entete {
  font-family: "Shrikhand";
  font-size: 1.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__entete i:hover {
  font-weight: 900;
  color: #9356dc;
}

.menu__titre {
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 22px;
}
/*# sourceMappingURL=main.css.map */