/* ******************************************************** */
/* ********************** Polices  ************************ */
/* ******************************************************** */
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto";
  font-weight: 300;
  margin: 0;
  color: #353535;
}

header {
  background-color: white;
}

h1 {
  margin: 0;
}

h2 {
  margin: 20px 0;
}

a,
a:visited {
  text-decoration: none;
  color: #353535;
  display: contents;
}

.flex-column {
  flex-direction: column;
}

.spinner-container {
  display: contents;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 9999;
  animation: eraser 500ms 0s both;
}

.spinner {
  position: fixed;
  margin: auto;
  width: 300px;
  height: 30px;
  background-color: black;
  animation: spinner 0s 0s backwards;
  transform-origin: left;
}

@keyframes eraser {
  75% {
    opacity: 0;
  }
  99% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-9999px);
  }
}

@keyframes spinner {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.card {
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white;
  animation: card-showup 0s 0s both;
}

a:nth-child(1) > .card {
  animation-delay: 0.025s;
}

a:nth-child(2) > .card {
  animation-delay: 0.05s;
}

a:nth-child(3) > .card {
  animation-delay: 0.075s;
}

a:nth-child(4) > .card {
  animation-delay: 0.1s;
}

a:nth-child(5) > .card {
  animation-delay: 0.125s;
}

a:nth-child(6) > .card {
  animation-delay: 0.15s;
}

a:nth-child(7) > .card {
  animation-delay: 0.175s;
}

a:nth-child(8) > .card {
  animation-delay: 0.2s;
}

a:nth-child(9) > .card {
  animation-delay: 0.225s;
}

a:nth-child(10) > .card {
  animation-delay: 0.25s;
}

a:nth-child(11) > .card {
  animation-delay: 0.275s;
}

a:nth-child(12) > .card {
  animation-delay: 0.3s;
}

a:nth-child(13) > .card {
  animation-delay: 0.325s;
}

a:nth-child(14) > .card {
  animation-delay: 0.35s;
}

a:nth-child(15) > .card {
  animation-delay: 0.375s;
}

a:nth-child(16) > .card {
  animation-delay: 0.4s;
}

a:nth-child(17) > .card {
  animation-delay: 0.425s;
}

a:nth-child(18) > .card {
  animation-delay: 0.45s;
}

a:nth-child(19) > .card {
  animation-delay: 0.475s;
}

@keyframes card-showup {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.card-function {
  cursor: pointer;
  display: flex;
  font-weight: 500;
  margin-left: 12px;
  height: 72px;
  background-color: #f6f6f6;
  transition: 0.4s;
}

.card-function:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.28), 0px 8px 10px 1px rgba(0, 0, 0, 0.25), 0px 3px 14px 2px rgba(0, 0, 0, 0.2);
}

.card-function:hover {
  background-color: #f5edff;
}

.card-function:hover .card-function__icon {
  color: #9356dc;
}

.card-function div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  position: relative;
  left: -22px;
  top: 3px;
}

.card-function__num {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  min-width: 24px;
  height: 24px;
  text-align: center;
  font-size: 0.9em;
}

.card-function__icon {
  transition: 0.4s;
  font-size: 1.25em;
  width: 20px;
}

.card-restaurant {
  position: relative;
  height: 250px;
  overflow: hidden;
  transition: 0.4s;
}

.card-restaurant:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.28), 0px 8px 10px 1px rgba(0, 0, 0, 0.25), 0px 3px 14px 2px rgba(0, 0, 0, 0.2);
}

.card-restaurant:hover .card-restaurant__photo img {
  transform: scale(1.1);
}

.card-restaurant__photo {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.card-restaurant__photo img {
  transition: 0.4s 150ms;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-restaurant__new {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 60px;
  height: 17px;
  background-color: #99e2d0;
  color: #278870;
  font-weight: 500;
  font-size: 0.9em;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.card-restaurant__new::after {
  content: "Nouveau";
}

.card-restaurant__text {
  padding: 12px;
}

.card-restaurant__text__name {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.card-restaurant__heart {
  position: absolute;
  right: 25px;
  bottom: 30px;
  font-size: 1.3em;
}

.card-restaurant__heart i:hover {
  font-weight: 900;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: transparent;
  background-clip: text;
}

.card-meal {
  height: 69px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.card-meal__text {
  height: 45px;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
}

.card-meal__text__title {
  font-weight: 500;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-meal__text__description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-meal__price {
  font-weight: 500;
  padding: 12px 20px 12px 0;
}

.card-meal__selectBtn {
  background-color: #99e2d0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition: width 0.4s ease-in-out;
  transform-origin: right;
}

.card-meal__selectBtn i {
  color: white;
  font-size: 1.2em;
  position: relative;
  right: -20px;
}

.card-meal__selectBtn i {
  transition: transform 0.4s ease-in-out;
}

.card-meal:hover .card-meal__selectBtn {
  width: 59px;
}

.card-meal:hover .card-meal__selectBtn i {
  transform: rotate(1turn);
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 2em;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  font-weight: 500;
  height: 50px;
  margin: 13px;
  padding: 0 35px;
  width: max-content;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.28), 0px 8px 10px 1px rgba(0, 0, 0, 0.25), 0px 3px 14px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px 15px;
}

.list-fonction {
  gap: 25px 25px;
}

@media screen and (min-width: 768px) {
  .list-fonction {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.list-restaurant {
  gap: 20px 20px;
}

@media screen and (min-width: 768px) {
  .list-restaurant {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .list-restaurant {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .list-menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header .header__logo img {
  width: 165px;
  padding: 21px 0 10px;
}

header .header__arrow {
  position: absolute;
  left: 22px;
  top: 24px;
}

header .header__arrow i {
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    margin: auto auto;
    padding: 0 100px;
    max-width: 1400px;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.localisation__icon {
  margin: auto 0;
  width: 0;
  position: relative;
  right: 40px;
}

@media screen and (min-width: 1200px) {
  .localisation {
    background-color: initial;
    box-shadow: none;
  }
}

.section {
  padding: 39px 20px 50px;
}

@media screen and (min-width: 1200px) {
  .section > * {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
  }
}

.banner {
  text-align: center;
  background-color: #f6f6f6;
}

.banner__text {
  font-weight: 500;
  font-size: 1.3em;
}

@media screen and (min-width: 1200px) {
  .banner {
    box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
  }
}

.function h1 {
  margin-bottom: 30px;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 47px;
  padding-bottom: 44px;
}

.restaurants h1 {
  margin-bottom: 20px;
}

footer {
  color: white;
  background-color: #353535;
  padding: 20px 20px 30px;
}

footer a,
footer a:visited {
  color: white;
}

@media screen and (min-width: 1200px) {
  footer {
    padding: 30px 50px;
  }
}

footer .footer__title {
  font-family: "Shrikhand";
  font-size: larger;
  margin-bottom: 18px;
  margin-left: 4px;
}

@media screen and (min-width: 1200px) {
  footer .footer__title {
    margin: 0 auto 18px;
    max-width: 1400px;
  }
}

footer .footer__links {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  footer .footer__links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-temmeale-rows: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  footer .footer__links {
    margin: auto;
    max-width: 1400px;
  }
}

footer .footer__links li {
  margin-bottom: 7px;
  margin-left: 5px;
}

footer .footer__links i {
  font-size: 13px;
  width: 22px;
}

.menu-image-container {
  position: relative;
  z-index: -1;
  height: 35vh;
}

@media screen and (min-width: 768px) {
  .menu-image-container {
    height: 30vw;
  }
}

@media screen and (min-width: 1200px) {
  .menu-image-container {
    max-height: 420px;
  }
}

.menu-image-container img {
  object-fit: cover;
  height: 130%;
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
  padding: 30px 15px 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 30px 150px 50px;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    padding: 30px 50px 50px;
  }
}

.menu__separation-bar {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-bottom: 13px;
}

.menu__header {
  font-family: "Shrikhand";
  font-size: 1.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__header i {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .menu__header {
    justify-content: center;
  }
}

.menu__header i:hover {
  font-weight: 900;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: transparent;
  background-clip: text;
}

.menu__title {
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 22px;
}
/*# sourceMappingURL=main.css.map */