/* ******************************************************** */
/* ********************** Polices  ************************ */
/* ******************************************************** */
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-regular.ttf") format("truetype");
}

body {
  font-family: "Roboto";
  font-weight: 300;
  font-stretch: 20px;
  margin: 0;
  color: #353535;
}

h1 {
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #353535;
}

.carte {
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.carte-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  margin-bottom: 25px;
  margin-left: 12px;
  height: 72px;
  background-color: #f6f6f6;
}

.carte-fonctionnement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 10px;
  position: relative;
  left: -22px;
  top: 3px;
}

.carte-fonctionnement__numero {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  min-width: 24px;
  height: 24px;
  text-align: center;
  font-size: 14px;
}

.carte-fonctionnement__icone {
  font-size: 20px;
  width: 20px;
}

.carte-restaurant {
  position: relative;
  margin-bottom: 20px;
  height: 250px;
}

.carte-restaurant__photo {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
}

.carte-restaurant__nouveau {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 60px;
  height: 17px;
  background-color: #99e2d0;
  color: #278870;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.carte-restaurant__texte {
  padding: 12px 12px;
}

.carte-restaurant__texte__nom {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.carte-restaurant__coeur {
  position: absolute;
  right: 25px;
  bottom: 30px;
  font-size: 21px;
}

.carte-restaurant__coeur i:hover {
  font-weight: 900;
  color: #9356dc;
}

.banniere__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 400;
  height: 50px;
  width: 218px;
  margin: 13px;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 2em;
}

header {
  text-align: center;
}

header img {
  width: 165px;
  padding: 21px 20px 10px;
}

.section {
  padding: 39px 20px 50px;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  height: 50px;
  margin: auto;
  -webkit-box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.localisation__icone {
  position: absolute;
  left: 6.5em;
}

.banniere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}

.fonctionnement h1 {
  margin-bottom: 30px;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 47px;
  padding-bottom: 44px;
}

.restaurants h1 {
  margin-bottom: 20px;
}

footer {
  color: white;
  background-color: #353535;
  padding: 20px 20px 30px 20px;
}

footer a,
footer a:visited {
  color: white;
}

footer div {
  font-family: "Shrikhand";
  font-size: larger;
  margin-bottom: 18px;
  margin-left: 4px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 7px;
  margin-left: 5px;
}

footer i {
  font-size: 13px;
  width: 22px;
}
/*# sourceMappingURL=main.css.map */