/* ******************************************************** */
/* ********************** Polices  ************************ */
/* ******************************************************** */
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-regular.ttf") format("truetype");
}
body {
  font-family: "Roboto";
  font-weight: 300;
  margin: 0;
  color: #353535;
}

h1 {
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #353535;
}

.carte {
  border-radius: 15px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.carte-fonctionnement {
  display: flex;
  font-weight: 400;
  margin-bottom: 25px;
  height: 72px;
  background-color: #f6f6f6;
}
.carte-fonctionnement div {
  margin: auto 10px;
  position: relative;
  left: -20px;
}
.carte-fonctionnement__numero {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: smaller;
}

.carte-restaurant {
  position: relative;
  margin-bottom: 18px;
  height: 250px;
}
.carte-restaurant__photo {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
}
.carte-restaurant__nouveau {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #278870;
  font-weight: 400;
  font-size: smaller;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.carte-restaurant__texte {
  padding: 15px 10px;
}
.carte-restaurant__texte__nom {
  font-weight: 400;
  margin-bottom: 5px;
}
.carte-restaurant__coeur {
  position: absolute;
  right: 20px;
  bottom: 25px;
  font-size: 20px;
}

.banniere__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  height: 50px;
  width: 218px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 2em;
}

header {
  text-align: center;
}

header img {
  width: 165px;
  padding: 20px 20px 10px;
}

.section {
  padding: 50px 20px;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  height: 50px;
  margin: auto;
  box-shadow: inset 0px 0.5em 10px -10px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.localisation__icone {
  margin-right: 1em;
}

.banniere {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}

.fonctionnement h1 {
  margin-bottom: 30px;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants h1 {
  margin-bottom: 20px;
}

footer {
  color: white;
  background-color: #353535;
  padding: 20px 20px 30px 20px;
}
footer div {
  margin-bottom: 10px;
}
footer div:first-child {
  font-family: "Shrikhand";
  font-size: larger;
}

/*# sourceMappingURL=style.css.map */
