.carte {
	@include card-style;
}

.carte-fonctionnement {
	display: flex;
	font-weight: 400;
	margin-bottom: 25px;
	margin-left: 12px;
	height: 72px;
	background-color: $light-background;
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto 10px;
		position: relative;
		left: -22px;
		top: 3px;
	}
	&__numero {
		background-color: $primary-color;
		color: white;
		border-radius: 50%;
		min-width: 24px;
		height: 24px;
		text-align: center;
		font-size: 0.9em;
	}
	&__icone {
		font-size: 1.25em;
		width: 20px;
	}
}

.carte-restaurant {
	position: relative;
	margin-bottom: 20px;
	height: 250px;
	&__photo {
		object-fit: cover;
		border-top-left-radius: $standard-radius;
		border-top-right-radius: $standard-radius;
		width: 100%;
		height: 70%;
	}
	&__nouveau {
		position: absolute;
		top: 14px;
		right: 11px;
		@include new-button-style;
	}
	&__texte {
		padding: $standard-card-text-padding;
		&__nom {
			font-weight: 400;
			font-size: 1.1em;
			margin-bottom: 5px;
		}
		&__lieu {
		}
	}
	&__coeur {
		position: absolute;
		right: 25px;
		bottom: 30px;
		font-size: 1.3em;
		i {
			&:hover {
				font-weight: 900;
				color: $primary-color;
			}
		}
	}
}

.carte-plat {
	padding: $standard-card-text-padding;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	transition: transform 0.2s ease-in-out;
	&__texte {
		height: $carte-plat-height;
		white-space: nowrap;
		overflow: hidden;
		&__titre {
			font-weight: 400;
			margin-bottom: 7px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__description {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__prix {
		font-weight: 400;
		justify-self: flex-end;
	}
}
