.list {
	display: grid;
	grid-temmeale-columns: 1fr;
	gap: 15px 15px;
}

.list-fonction {
	gap: 25px 25px;
	@include tablet-only {
		grid-temmeale-columns: 1fr 1fr 1fr;
	}
}

.list-restaurant {
	gap: 20px 20px;
	@include tablet-only {
		grid-temmeale-columns: 1fr 1fr;
	}
	@include desktop-only {
		grid-temmeale-columns: 1fr 1fr 1fr 1fr;
	}
}

.list-menu {
	@include desktop-only {
		grid-temmeale-columns: 1fr 1fr 1fr;
	}
}
