body {
    font-family: "Roboto";
    font-weight: 300;
    font-stretch: 20px;
    margin: 0;
    color: $text-color;
}

h1 {
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
    color: $text-color;
}
