body {
	font-family: "Roboto";
	font-weight: 300;
	margin: 0;
	color: $text-color;
}

header {
	background-color: white;
}

h1 {
	margin: 0;
}

h2 {
	margin: 20px 0;
}

a,
a:visited {
	text-decoration: none;
	color: $text-color;
	display: contents;
}
