body {
	font-family: "Roboto";
	font-weight: 300;
	margin: 0;
	color: $text-color;
}

header {
	background-color: white;
}

h1 {
	margin: 0;
}

h2 {
	margin: 20px 0;
}

a,
a:visited {
	text-decoration: none;
	color: $text-color;
	display: contents;
}

.flex-column {
	flex-direction: column;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: white;
	z-index: 9999;
	animation: eraser 500ms $content-showup-offset - 100ms both;
}

.loader {
	font-size: 5rem;
	margin: 0px 10px;
	font-family: "Shrikhand";
	@for $i from 1 to 4 {
		&__item#{$i} {
			transform: scale(1);
			animation: jump 400ms 500ms + 200ms * $i 6 cubic-bezier(0, 0, 0.1, 1) alternate backwards;
		}
	}
}

@keyframes jump {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-120px);
	}
}

@keyframes eraser {
	75% {
		opacity: 0;
	}
	99% {
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-9999px);
	}
}
