/* ******************************************************** */
/* ********************** Polices  ************************ */
/* ******************************************************** */
@font-face {
	font-family: "Roboto";
	src: url("../polices/Roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: url("../polices/Roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "Shrikhand";
	src: url("../polices/Shrikhand/Shrikhand-regular.ttf") format("truetype");
}
