.menu-body {
	background-image: url("../../public/img/restaurants/jay-wennington.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto $menu-page-background-spacing + $big-radius * 2 + 20px;
}

.menu {
	&__barre-separation {
		@include separation-style;
	}
	&__entete {
		@include restaurant-title-style;
	}
	&__titre {
		@include menu-title-style;
	}
}
