// ************* Responsive style ************* //
@mixin tablet-only {
	@media screen and (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}

@mixin desktop-only {
	@media screen and (min-width: map-get($breakpoints, desktop)) {
		@content;
	}
}

// ************* Buttons style ************* //

@mixin btn-style {
	background: $btn-bg-gradient;
	border-radius: 2em;
	box-shadow: $standard-shadow;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	color: white;
	font-weight: 500;
	height: 50px;
	margin: 13px;
	padding: 0 35px;
	width: max-content;
}

@mixin btn-container-style {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

@mixin btn-hover-style {
	transition: $btn-hover-transition;
	&:hover {
		box-shadow: $standard-hover-shadow;
		opacity: 0.95;
	}
}

@mixin new-btn-style {
	position: absolute;
	top: 14px;
	right: 11px;
	width: 60px;
	height: 17px;
	background-color: $tertiary-color;
	color: darken($tertiary-color, 40%);
	font-weight: 500;
	font-size: 0.9em;
	padding: 6px 10px;
	border-radius: $small-radius;
	text-align: center;
	box-shadow: $standard-shadow;
	&::after {
		content: "Nouveau";
	}
}

@mixin selectBtn-style {
	background-color: $tertiary-color;
	border-bottom-right-radius: $standard-radius;
	border-top-right-radius: $standard-radius;
	width: 0px;
	height: 100%;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	i {
		color: white;
		font-size: 1.2em;
		position: relative;
		left: 20px;
	}
}

@mixin selectBtn-transition {
	transition: width $standard-transition-time ease-in-out;
	transform-origin: right;
}

// ************* Cards style ************* //

@mixin card-style {
	box-shadow: $standard-shadow;
	border-radius: $standard-radius;
	background-color: white;
}

@mixin card-hover-style {
	&:hover {
		box-shadow: $standard-hover-shadow;
	}
}

@mixin heart-hover-style {
	i:hover {
		font-weight: 900;
		background: $btn-bg-gradient;
		color: transparent;
		background-clip: text;
	}
}

@mixin card-restaurant-hover-style {
	&:hover {
		.card-restaurant__photo img {
			transform: scale(1.1);
		}
	}
}

@mixin card-fonction-hover-style {
	&:hover {
		background-color: $primary-color-light;
		.card-function__icon {
			color: $primary-color;
		}
	}
}

@mixin one-by-one-animation($card-count) {
	@for $i from 1 to $card-count + 1 {
		&:nth-child(#{$i}) {
			animation-delay: $content-showup-offset + ($card-showup-delay * $i);
		}
	}
}

// ************* Texts style ************* //

@mixin separation-style {
	height: 3px;
	width: 40px;
	background-color: $tertiary-color;
	margin-bottom: 13px;
}

@mixin restaurant-title-style {
	font-family: "Shrikhand";
	font-size: 1.75em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	i {
		padding-right: 20px;
		padding-left: 20px;
	}
	@include tablet-only {
		justify-content: center;
	}
}

@mixin menu-title-style {
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 22px;
}
