$dark-background: #eaeaea;
$light-background: #f6f6f6;
$footer-background: #353535;

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$text-color: #353535;

$standard-radius: 15px;
$small-radius: 2px;
$big-radius: 40px;

$standard-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);

$standard-card-text-padding: 12px;

$menu-page-background-spacing: 220px;

$carte-plat-height: 45px;

$standard-transition-time: 0.4s;
